<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Entity detection microservice</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login" style="width:800px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;" align="center"  >
	<h1>Entity Detection Service</h1>
     <p>Paste text in the field below to detect entities from a pre-trained BILSTM-CRF model </p>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

    	<input type="text" name="Text" placeholder="Insert text" required="required" style="height:100px;" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>




 </div>


</body>
</html>
